# STS / Eclipse
.metadata/
.classpath
.project
.settings/

# STS build artifacts
bin/
target/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Maven
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ (if used)
.idea/
*.iml

# VS Code (if used)
.vscode/

# Environment config
.env
